body {
    margin: 0;
    font-family: "Poppins", serif;
}

.titlebar {
  height: 30px;
  background: #131313;
  color: #f7f7f7;
  display: flex;
  justify-content: start;
  align-items: start;
  font-size: 12px;
  user-select: none;
  -webkit-app-region: drag;
}



